*.log
.DS_Store
.coverage
.nyc_output
.pnpm-debug.log*
.pnpm-republish.log*
.pnpm-server.log*
.quasar
.vscode
client/node_modules
dist
dist
node_modules
npm-debug.log*
package-lock.json
server/node_modules
yarn-debug.log*
yarn-error.log*