<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APP</title>
    <script src="static/vue.global.js"></script>
    <link rel="stylesheet" href="static/css/global.css" />
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="enviar">
        <div class="input-field" v-if="settings.oldToken">
          <label for="oldToken">Chave API ANTIGA</label>
          <input
            id="oldToken"
            type="text"
            v-model="settings.oldToken"
            autocomplete="off"
          />
        </div>
        <div class="input-field">
          <label for="token">Nova Chave API</label>
          <input
            id="token"
            type="text"
            v-model="settings.token"
            required
            autocomplete="off"
          />
        </div>
        <div class="notification" v-if="data.mensagem">{{ mensagem }}</div>
        <button class="btn" type="submit">Enviar</button>
      </form>
    </div>

    <script>
      const { createApp, reactive } = Vue;

      createApp({
        setup() {
          const settings = reactive({
            oldToken: "",
            token: "",
          });

          const data = reactive({
            message: "",
          });

          (async () => {
            const response = await fetch("/api/data");
            const result = await response.json();
            if (result.token) {
              settings.oldToken = "Informe o token anterior!";
            }
          })();

          const enviar = async () => {
            try {
              const response = await fetch("/api/settings", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(settings),
              });

              if (response.ok) {
                const result = await response.json();
                data.message = result.message;
                console.log("Dados enviados com sucesso!", result);
              } else {
                console.error("Falha ao enviar dados.");
              }
            } catch (error) {
              console.error("Erro ao enviar solicitação:", error);
            }
          };

          return {
            settings,
            data,
            enviar,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
